* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  height: 100%;

  overflow: hidden;

  background: black;

  font-family: sans-serif;
}

body.recording {
  background: black;
}

#preview {
  position: fixed;
  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;

  background: black;
}

/* При записи скрываем видео */
body.recording #preview {
  opacity: 0;
}

/* Кнопки */
#controls {
  position: fixed;

  bottom: 40px;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  gap: 20px;

  z-index: 999;
}

.record-btn {
  width: 85px;
  height: 85px;

  border-radius: 50%;
  border: none;

  background: red;
}

.stop-btn {
  padding: 15px 25px;

  border: none;
  border-radius: 12px;

  background: white;

  font-size: 18px;
}

.hidden {
  display: none !important;
}

/* Во время записи скрываем интерфейс */
body.recording #controls {
  display: none;
}
